# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Data files
*.csv
*.json
*.xlsx
*.html

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db
